## Importing Necessory Libraries

In [1]:
import pandas as pd
import gzip
import numpy as np
import tensorflow as tf
import regex as re
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
from sklearn.preprocessing import LabelEncoder

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [2]:
df = pd.read_csv('Aerotek_Resume_Classification.csv')
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [5]:
df['Category'].unique()

array(['Data Science', 'Non-IT', 'Testing', 'Technical Maintenance',
       'Developer', 'Database'], dtype=object)

In [3]:
df['Category'].value_counts()

Developer                279
Non-IT                   240
Testing                  141
Technical Maintenance    119
Database                 115
Data Science              68
Name: Category, dtype: int64

## Encoding

In [6]:
labelencoder = LabelEncoder()
df['Cataogory_Enc'] = labelencoder.fit_transform(df['Category'])

In [8]:
df.head(155)

,Category,Resume,Cataogory_Enc
0,Data Science,Skills * Programming Languages: Python (pandas...,0
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,0
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",0
...,...,...,...
150,Testing,"Technical Skills Web Technologies: Angular JS,...",5
151,Testing,Education Details \r\n B.C.A Bachelor Computer...,5
152,Testing,"Technical Skills Web Technologies: Angular JS,...",5
153,Testing,Education Details \r\nJanuary 2016 B.Sc. Infor...,5
154,Testing,"IT SKILLS Languages: C (Basic), JAVA (Basic) W...",5

## Data Cleaning

In [9]:
def data_cleaning(text):
    text = str(text)
    text = text.lower() # convert everything into lower case
    text = re.sub("http\S+"," ",text,flags = re.MULTILINE) #Replacing hyperlink with a space
    text = re.sub("[^a-z]"," ",text) #only allowed small a-z
    text = re.sub("\.+"," ",text) #replace multiple dots with a space
    words = text.split()
    imp_words = [w for w in words if w not in stop]
    return ' '.join(imp_words)

In [10]:
df['clean_text'] = df['Resume'].apply(lambda x: data_cleaning(x))

In [11]:
df.head()

,Category,Resume,Cataogory_Enc,clean_text
0,Data Science,Skills * Programming Languages: Python (pandas...,0,skills programming languages python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,0,education details may may b e uit rgpv data sc...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",0,areas interest deep learning control system de...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,0,skills r python sap hana tableau sap hana sql ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",0,education details mca ymcaust faridabad haryan...

In [13]:
df = df[['clean_text','Cataogory_Enc']]

In [14]:
df.to_csv('clean_data.csv')